// body_color = #fff
// body_selection = #7fbd42
// body_background = #333

// h3_color = #ecf0f1
//@color
bg_color = #f5f5f5
top_bgcolor = #009fed
font_color = rgb(67,67,67)
blue_color = rgb(0,159,237)
border_color = #dcdcdc
border-radius(val)
  -webkit-border-radius val
  -moz-border-radius val
  border-radius val
  
// @keyframes pulse
//     0%
//       background-color red
//       transform scale(1.0) rotate(0deg)
//     33%
//       background-color blue
//       -webkit-transform scale(1.1) rotate(-5deg)
// base
html
body
div
span
h1
h2
h3
h4
h5
h6
dd
dt
dl
p
ul
li
fieldset
input
select
button
  margin 0
  padding 0
  border 0
  // color font_color
  font-size 100%
  font-family '微软雅黑',Helvetica,HiraginoSansGB-W3
  vertical-align baseline
body
  line-height 1

ol
ul
  list-style none

a
  text-decoration none
input
  &::-webkit-input-placeholder
    color:rgb(201,201,201)
input
  &:-moz-placeholder 
    color:rgb(201,201,201)
html
body
  height 100%
  position relative

.wrapper
  background bg_color
  min-height 100%
  padding-bottom 150px

.top
  width 100%
  height 73px
  background top_bgcolor

.content
  max-width 1001px
  margin 0 auto
  &:after
    display block
    content ""
    height 0
    clear both

.logo
  float left
  width 127px
  padding-top 10px
  img
    width 100%

.nav
  float left
  a
    float left
    width 80px
    text-align center
    color #fff
    font-size 18px
    margin 12px 0 0 35px

.left_box
  width 145px
  float left
  padding-top 26px
  margin-right -100%
  h2
    color font_color
    font-size 20px
    font-weight bolder
    padding 16px 0 24px
  a
    display block
    color rgb(98,98,98)
    font-size 16px
    padding-bottom 16px
    padding-left 20px
  .active
    color blue_color

.right_box
  margin-left 177px
  border 1px solid border_color
  background #fff
  margin-top 32px
  padding 40px
  border-radius 5px
  width 850px
  box-sizing border-box

.r_box
  h3
    font-size 28px
    font-weight bolder
    color font_color
  p
    font-size 14px
    color  rgb(149,149,149)
    padding-top 5px
    line-height 20px
    padding-bottom 40px

.tab
  height 40px
  line-height 35px
  padding-top 20px
  &:after
    display block
    content ""
    height 0
    clear both
  a
    float left
    font-size 14px
    width 97px
    text-align center
    margin-left 26px
    color #676767
    cursor pointer
  .active
    color #009ff0
    border-bottom 2px solid #009ff0

.all
  dl
    position relative
    height auto
    padding 8px 0 0

  dt
    position absolute
    top 8px
    color font_color
    font-size 24px
    width 128px
    text-align right
    font-weight bolder

  dd
    padding-left 152px

  p
    margin-bottom 24px
    line-height 20px
    padding-left 40px
    padding-right 40px
    background-repeat no-repeat!important
    font-size 14px
    color font_color
  span
  a
    color blue_color

  .ge
    background url(../img/ge.png)

  .xi
    background url(../img/xi.gif)

.tab_con
  padding-bottom 39px

.yjz
  border-top 1px solid border_color
  height 20px
  position relative
  margin 0 24px
  p
    position absolute
    width 84px
    left 50%
    margin-left -42px
    font-size 12px
    color rgb(150,150,150)
    top -6px
    background #fff
    padding 0 22px
/*个人资料*/
.touxiang
  width 100px
  height 100px
  margin 0 auto
  position relative
  img
    display block
    width 100px
    height 100px
    border-radius 100%
  span
    position absolute
    display block
    width 24px
    height 24px
    border-radius 100%
    background rgba(0,159,237,.5)
    right 2px
    bottom 0
.form_center
    margin 16px 46px
    font-size 14px
    color rgb(98,98,98)
    .address
      width 544px
      display inline-block
      em
        vertical-align top
        padding-top 10px
        display inline-block
      
    .form-item-provinces-td
      margin-left 2px
    label
      width 64px
      display inline-block
      text-align right
      vertical-align: top;
      padding-top: 10px;
    fieldset
      margin-bottom 24px
      p
        text-align right
        padding-right 62px
        padding-top 8px
      .count
        border none
        display inline
        width auto
        margin 0
        padding 0
        text-align right
      
    input
    textarea
      display inline-block
      width 524px
      border 1px solid #959595
      line-height 32px
      padding 0 8px
      margin 0 5px 0 2px
      color rgb(98,98,98)
    span
      color rgb(255,32,50)
    textarea
      line-height 18px
      height 40px
      padding 8px
      font-size 14px
      vertical-align -webkit-baseline-middle
    .error
      border 1px solid rgb(255,32,50)
    .success
      border 1px solid blue_color
    .form-item
      display inline-block
      margin-bottom 7px
      select
        width 100%
        height 32px
        padding-right 12px 
        padding-left: 8px;
        background-color: transparent;
        -webkit-appearance: none;
    .form-select-overlay
      display inline-block
      border 1px solid rgb(150,150,150) 
      width 169px
      height 32px 
      background url(../img/down.png) no-repeat 155px center
.tags
    color blue_color
    height 54px
    margin-right 64px
    &:after
      display block
      content ""
      height 0
      clear both
    li
      float right
      width 90px
      line-height 30px
      font-size 14px
      text-align center
      border-radius 15px
      border:1px solid blue_color;
      margin-left 16px
      cursor pointer
    a
      float right
      margin-left 55px
      font-size 12px
      color @color
      padding-top 10px
      
.save_btn
  display block
  width 120px
  height 40px
  text-align center
  color #fff
  background #009fed
  border none
  margin-top 48px
  margin-left 70px
  font-size: 14px;
.box
  width 534px
  background #fff
  position absolute
  top 50%
  left 50%
  margin-top -147px
  margin-left -163px
  z-index 999
  display none
  padding 18px 42px
  box-sizing border-box
  .box_close
    position absolute
    top 18px
    right 44px
    z-index 9999
    border none
    background none
    cursor pointer
  ul
    &:after
      clear both
      display block
      content ''
      height 0
    li
      float left
      width 90px
      border-radius 16px
      border 1px solid rgb(98,98,98)
      color rgb(98,98,98)
      text-align center
      line-height 30px
      font-size 14px
      margin 0 10px 16px
      cursor pointer
    .blue_tag
      border-color blue_color
      color blue_color
      background url(../img/tag.png) no-repeat 76px center
.tags_gl
  h3
    font-size 14px
    color rgb(98,98,98)
    font-weight 300
    margin-bottom 24px
    margin-top: 6px;
  p
    text-align right
    font-size 12px
    color rgb(98,98,98)
    padding-right 10px
    margin-top 8px
    span
      color blue_color
      padding-left 5px
      b
        font-weight 500
  .tag_confirm
    display block
    width 72px
    text-align center
    line-height 32px
    color #fff
    background blue_color
    font-size: 14px;
    margin 24px auto 6px
    cursor pointer
.bg
  background:rgba(0,0,0,.3)
  width 100%
  min-height 100%
  position fixed
  top 0
  z-index 990