doctype html
html
  head
    meta(charset='utf-8')
    title 我的动态
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    div.wrapper
      div.top
        div.content
          a.logo(href='#')
            img(src='img/js_logo.jpg' alt='极客加速')
          ul.nav
             - var navs = ["首页","规介绍","提交项目","关于我们"]
             each nav in navs
               a(href='#')= nav
      div.content
        div.left_box
          ul
            h2 我的账户
            a(href='#').active 我的动态
            a(href='#') 个人资料
            a(href='#') 账户安全
            h2 我的项目
            a(href='#') 认购的项目
            a(href='#') 关注的项目
            h2 我的交易
            a(href='#') 绑定银行卡
            a(href='#') 充值/提现
            a(href='#') 项目交易记录
        div.right_box
          div.r_box
            h3 我的动态
            p 在这里，您可以查看您所关注的项目的动态、认购信息以及充值/提现的信息
          .tab_con
            .all
              dl
                dt 今天
                dd
                  p 您投资了项目
                    a(href='#') 极客公园无人机计划
                  p 您关注了项目
                    a(href='#') 极客公园无人机计划
            .all
              dl
                dt 4月15日
                dd
                  p.xi 您投资了项目：
                    a(href='#') 极客公园B计划
                    |将于4月16日认购结束
                  p 成功充值：
                    span 10W
                  p 您投资了项目：
                    a(href='#')  极客公园B计划
                  p.xi 您投资的项目：
                    a(href='#') 极客公园的另一计划
                    |将于4月20号进行公测，届时请您准时参加，谢谢合作！
                  p 成功提现：
                    span 5W
          .yjz
             p 已加载全部数据
    script(src='build/build.js')
